.registration-container{
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    width: 40%;
}

    .registration-container > .text-block{
        text-align: center;
    }

.register-type-description-text{
    color: whitesmoke;
}

#registration-end-message{
    display: none;
}